.login-centered{
	padding-top: 100px;
  max-width:500px;
  margin-left: auto;
  margin-right: auto;
}

.login-loginInfo{
	border: medium solid;
	padding-bottom: 10px;
	margin:0;
	border-radius: 10px;
	width:500px;
}
.login-type{
	float: left;
	margin: 0 5px 5px 5px;
	padding: 5px 0 5px 0;
	width: 239px;
	font-size: 30px;
	border-bottom: thin solid;
	border-right:thin solid;
}
.login-material{
	width: 500px;
	padding: 20px 10px 0 10px;
}
.login-field {
  width: 90px;
  margin: 0;
  float: left;
  text-align: left;
  font-size: 20px;
}
.login-value {
  margin: 0.5em 0 1em 0;
  height: 25px;
}
fieldset{
	border: none;
}
#login-login{
	padding: 0 15px 0 15px;
	font-size: 2em;
	float: right;
}
#login-registerNow{
	display: inline;
	padding: 0 10px 0 10px;
	margin-right: 13px;
	font-size: 1em;
	float: right;
	text-align: right;
}
p.login-registerNowText{
	margin: 0 30px 0 0;
	padding: 0;
	display:inline-block;
	font-size: 15px;
	text-align: right;
	width: 325px;
}

#login-goBack{
	text-align: center;
	border-top: thin solid;
	margin-top: 10px;
	padding: 5px 0 0 0;
	font-size: 20px;
	width: 500px;
}