body {
	margin: 0;
}
main {
	min-height: 500px;
}
#foot {
	font-family: Arial;
	border-top: solid black 2px;
	background-color: #89CFF0;
	/* credit to http://54.67.6.95/how-to-keep-footer-at-bottom-of-page-with-css/ for footer position*/
	width: 100%;
	height: 65px;
	position: relative;
	bottom: 0;
	left: 0;
}
#footTop {
	width: 420px;
	background-color: white;
	margin: 10px auto;
	background-color: #89CFF0;
}
.footLink {
	font-family: Arial;
	text-decoration: none;
	color: #EEE;
	font-size: 1em;
}
.footLink:hover {
	font-family: Arial;
	color: red;
	font-size: 1em;
}
#copyright {
	width: 150px;
	text-align: center;
	margin: 0 auto; 
	font-size: 0.9em;
	background-color: #89CFF0;
}