body {
	margin: 0;
}
main {
	font-family: Arial;
	width: 100%;
	height: 75%;
}
main img {
	position: absolute;
}
#partners {
	margin-left: 30px;
}
#adidas {
	left: 20px;
	top: 230px;
}
#intel {
	left: 55px;
	top: 410px;
}
#starbucks {
	left: 340px;
	top: 420px; /* ayy */
}
#google {
	left: 235px;
	top: 200px;
}
#toyota {
	left: 510px;
	top: 180px;
}
#dell {
	left: 610px;
	top: 400px;
}
#bp {
	left: 825px;
	top: 195px;
}
#apple {
	left: 860px;
	top: 390px;
}
#lego {
	left: 1090px;
	top: 340px;
}
#to-register {
	position: absolute;
	right: 5%;
	top: 600px;
}
#to-register a {
	text-decoration: none;
	color: black;
}
#to-register a:hover {
	color: red;
}
