body{
	font-family: Arial; 
}

#logo {
	float: left;
	width: 20%;
	height: 100px;
	background-color: red;
}

#quickSearch{
	border: solid 2px black;
	width: 20%; 
	height: 100px; 
}

#appStatus{

	float: left; 
	
	height: 50%;
    width: 100%;
	border-bottom: 2px solid black;
}
#deadlines{
	margin-top: 50%;
}
#deadlines h4{
	padding-top: 5%; 
}

#leftSide{
    height: 71.4%;
    width: 20%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
 
    overflow-x: hidden;
  
    margin-top: 7%;
	border: 2px solid black; 
}
/* 
#headSearch{
	width: 20%;
	height: 100px;
	background-color: #eee;

}

#quickSearch fieldset{
	width: 20%; 
	height: 82px; 
	border-color: white;
	display: block;
}

#key{
	width: 100%; 
	height: 81px;
	display: inline-block;	
}

#mg{
	display: inline-block;
} */