.choice-centered{
	padding-top: 100px;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}
.choice{
	display:inline;
	text-align: center;
	float: left;
	margin: 0;
	padding: 0;
	font-size: 50px;
	width:400px;
}
a.choice{
	color:darkgrey;
	text-decoration: none;
}
.choice-blank1{
	display: inline;
	padding: 35px;
}
.choice-blank2{
	display: inline;
	padding: 75px;
}
.register-company{
	margin-top: 200px;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  border: medium solid;
	padding-bottom: 10px;
	border-radius: 10px;
}
.register-candidate{
	margin-top: 200px;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  border: medium solid;
	padding-bottom: 10px;
	border-radius: 10px;
}
.register-type{
	margin: 0 5px 5px 5px;
	padding: 5px 0 5px 10px;
	font-size: 30px;
	border-bottom: thin solid;
}
.register-material{
	width: 500px;
	padding: 20px 10px 0 10px;
}
.register-field{
  width: 250px;
  margin: 0;
  float: left;
  text-align: left;
  font-size: 20px;
}
.register-value{
  margin: 0.5em 0 1em 0;
  height: 25px;
}
fieldset{
	border: none;
}
#register-register{
	padding: 5px 20px 5px 20px;
	font-size: 1em;
	float: right;
	clear: right;
	margin-top: 0.5em;
	background-color: #3793d9;
	color: white;
	border: none;
}
#register-applyID{
	background-color: #3793d9;
	color: white;
	float: right;
	clear:right;
	padding: 5px 20px 5px 20px;
	font-size: 1em;
	margin-top: 1.5em;
	border: none;
	font-family: Arial;
}
input.register{
	display: inline;
	font-size: 15px;
	width: 20em;
	background-color: lightgrey;
	border: solid #436a86;
}
textarea#question{
	font-size: 15px;
	background-color: lightgrey;
	border: solid #436a86;
}